    <section>
      <h2>Welcome to your Garage!</h2>
    </section>
<section class="container p-3">
    <h3 class="user-name">{{user.username}}</h3>
    <section class="user-cars pt-3">
        {{#each user.cars as |cars|}}
        {{> car-details}}
        {{/each}}
    </section>
    <a href="/new/car" role="button">Add a new car!</a>
</section>